/* Importing Noto Sans JP from Google Fonts with font weight 500*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:500');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0");
:root {
    --default: rgb(224, 224, 224);
    --primary: rgb(41, 98, 255);
    --secondary: rgb(69, 90, 100);
    --danger: #D32F2F;
    --default-f: #AEAEAE;
    --primary-f: #0039CB;
    --secondary-f: #1C313A;
    --danger-f: #9A0007;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    padding: 4em;
    min-height: 100vh;
    overflow-y: auto;
    width: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#root{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

.nav{
    display: flex;
    gap: 2em;
    margin: 0 0 2em;
}

.nav>*{
    font-weight: normal;
}

.nav>*:active{
    font-weight: bold;
}

.button_page,.input_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

h1{
    font-weight: normal;
}

.buttons,.inputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem 4rem;
    width: 100%;
}

.fw{
    grid-column: 1 / -1;
    margin-right: 8em;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 1em;
}


